<div class="row col s12 asset-not-found-page">
	<div class="asset-message center"> 
		<h3>Asset not found!</h3>
		<h4>Would you like to add this asset?</h4>
	</div>

	<ul class="collection">
		<li class="collection-item avatar">
	      	<span class="title">{{points}}</span>
	      	<p>Points Remaining</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{title}}</span>
	      	<p>Asset Name</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{ean}}</span>
	      	<p>Asset ID</p>
	    </li>

	   	<li class="collection-item avatar">
	      	<span class="title">{{brand}}</span>
	      	<p>Brand</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{description}}</span>
	      	<p>Description</p>
	    </li>
  	</ul>

  	<div class="button-container">  		
    	<button class="btn bg-standy" id="cancel">Cancel</button>
		<button class="btn bg-navbar" id="addAsset">Add Asset</button>
    </div>
</div>