<div class="row col s12 transaction-page">
	<div class="asset-message center"> 
		<h3>Asset doesn't exist</h3>
		<h4> Do you want this asset</h4>
	</div>

	<ul class="collection">
		<li class="collection-item avatar">
	      	<span class="title">{{PointsRemaning}}</span>
	      	<p>Points Remaining</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{title}}</span>
	      	<p>Prdouct Name</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{title}}</span>
	      	<p>Prdouct ID</p>
	    </li>

	   	<li class="collection-item avatar">
	      	<span class="title">{{title}}</span>
	      	<p>Brand</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{title}}</span>
	      	<p>Description</p>
	    </li>
  	</ul>

  	<div class="button-container">  		
		<button class="btn black" id="addAsset">Initiate Handover</button>
    	<button class="btn orange" id="cancle">Cancle</button>
    </div>
</div>