<div class="row col s12 asset-found-page">
	<ul class="collection">
		<li class="collection-item avatar">
	      	<span class="title">{{points}}</span>
	      	<p>Points Remaining</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{title}}</span>
	      	<p>Prdouct Name</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{ean}}</span>
	      	<p>Prdouct ID</p>
	    </li>

	   	<li class="collection-item avatar">
	      	<span class="title">{{brand}}</span>
	      	<p>Brand</p>
	    </li>

	    <li class="collection-item avatar">
	      	<span class="title">{{description}}</span>
	      	<p>Description</p>
	    </li>
  	</ul>

  	<div class="button-container">  	
    	<button class="btn bg-standy" id="cancel">Cancel</button>
		<button class="btn bg-navbar modal-trigger" href="#modal1" id="addAsset">Initiate Handover</button>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h3>Please confirm</h3>
  		<p>Are you a receiver or a shipper?</p>
	</div>
	<div class="modal-footer">
	  <a class="modal-close btn-flat text-light-blue" id="receiver">Receiver</a>
	  <a class="modal-close btn-flat text-light-blue" id="shipper">Shipper</a>
	</div>
</div>
