<div id="{{productId}}" class='success-page assetList'> 
	{{#if handover}}
	<p><b>{{title}}</b> is successfully handover to <b>{{senderName}}</b></p>
	{{else}}
	<p><b>{{title}}</b> is successfully added!</p>
	<button class="btn black btn modal-trigger" href="#modal1" id="addAsset">Initiate Handover</button>
	{{/if}}
	{{!-- <button class="btn btn-lg black" id='goToHomePage' name='close'> Take ME TO HOME </button> --}}
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h3>Please confirm</h3>
  		<p>Are you a receiver or a shipper?</p>
	</div>
	<div class="modal-footer">
	  <a class="modal-close btn-flat text-light-blue" id="receiver">Receiver</a>
	  <a class="modal-close btn-flat text-light-blue" id="shipper">Shipper</a>
	</div>
</div>