<div class="col s12 product-details-page">
	<ul class="collection">
		{{#each events}}
		    <li class="collection-item avatar" id="{{eventId}}">
		      	<span class="circle"><div id='donut_{{@index}}'></div></span>
		      	<span class="title">{{formatEventType content.data.[0].eventType}}</span>
		      	<p>{{content.data.[0].name}}</p>
		      	<span class="secondary-content">{{humanizeTime content.data.[0].time}}</span>
		    </li>
	    {{/each}}
  	</ul>

</div>