<div class="col s12 product-details-page">

{{!-- 	<div class="card details-product">
	    <div class="card-content white-text">
	      <h5>Product Name: {{productDetails.name}}</h5>
	      <h5>Product ID: {{productDetails.productId}}</h5>
	      <h5>Organization Name: {{productDetails.orgName}}</h5>
	      <h5>Location Name: {{productDetails.location}}</h5>
	      <h5>Added By: {{productDetails.addedBy}}</h5>
	    </div>
	</div>

	<div class="seprator">
		<h3>Handover({{events.length}})</h3>
	</div> --}}

	<ul class="collection">
		{{#each events}}
		    <li class="collection-item avatar" id="{{eventId}}">
		      	<i class="circle bg-indigo">{{points}}</i>
		      	<span class="title">{{content.data.[0].senderName}}</span>
		      	<p>{{content.data.[0].receiverName}}</p>
		      	<span class="secondary-content">{{humanizeTime content.data.[0].time}}</span>
		      	<span class="secondary-content content-2">{{content.data.[0].location}}</span>
		    </li>
	    {{/each}}
  	</ul>

</div>